@model FullTextSearch.Models.Analysis

@{ 
    ViewBag.Title = "Analysis";
}

<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

<form method="get" class="row page-header">
    <div class="form-group col-xl-2 col-lg-3 col-sm-4">
        <label class="control-label">From</label>
        <div class="input-group date">
            <input type="datetime" asp-for="From" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-xl-2 col-lg-3 col-sm-4">
        <label class="control-label">To</label>
        <div class="input-group date">
            <input type="datetime" asp-for="To" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-xl-4 col-lg-3 col-sm-4">
        <label class="control-label">Term</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            <input type="text" asp-for="Term" class="form-control" />
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <span>Granulation</span>
            <label>
                <input type="radio" asp-for="Type" value="0" checked />
                Year and month
            </label>
            <label>
                <input type="radio" asp-for="Type" value="1" />
                Day and hour
            </label>
    </div>
</form>

<div class="row">
    @if (ViewBag.Table != null)
    {
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        @{var t = ((IEnumerable<dynamic>)ViewBag.Table); }
                        @if (t.Count() > 0)
                        {
                            foreach (var col in t.FirstOrDefault())
                            {
                                <th>@col.Key.Replace(" AM", "am").Replace(" PM", "pm")</th>
                            }
                        }
                        else
                        {
                            <text>
                            <td class="alert alert-warning">No results</td></text>

                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in ViewBag.Table)
                    {
                        <tr>
                            @foreach (var col in row)
                            {
                                <td>@col.Value</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            $('#From').datetimepicker();
            $('#To').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#From").on("dp.change", function (e) {
                $('#To').data("DateTimePicker").minDate(e.date);
            });
            $("#To").on("dp.change", function (e) {
                $('#From').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}