@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <h2>Full Text Search</h2>
    <p>
        Use this full text search service to search the <strong>Neural Information Processing Systems (NIPS) 2015 </strong> papers.
    </p>
    <h3>Technologies</h3>
    <ul>
        <li>ASP.NET Core</li>
        <li>PostgreSQL</li>
    </ul>
</div>
